<div class="user-relationship-page">
  <div class="following-follower-link">
    <div class="following-page-link">
      <h1><%= link_to "フォロー中", following_user_path(@user.id) %></h1>
    </div>
    <div class="follower-page-link">
      <h1><span class="follower"><%= link_to "フォロワー",  followers_user_path(@user.id) %></span></h1>
    </div>
  </div>
  <% @followers.each do |user| %>
  <div class="user-list-box">
    <div class="user-list-info">
      <img src ='<%= user.image %>' class="user-image">
      <%= link_to user.name, user_path(user.id) %>
      <div class="f-button">
        <% if user.id != current_user.id %>
          <% if user.followed_by?(current_user) %>
            <div class="follow-button">
              <%=link_to "フォロー中", user_relationships_path(user.id), method: :delete %>
            </div>
          <% else %>
            <div class="unfollow-button">
              <%=link_to "フォローする", user_relationships_path(user.id), method: :post %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-self-introduction">
      <%= user.self_introduction %>
    </div>
  </div>
  <% end %>
</div>