<div class="user-relationship-page">
  <div class="following-follower-link">
    <div class="following-page-link">
      <h1><%= link_to "フォロー中", following_user_path(@user.id) %></h1>
    </div>
    <div class="follower-page-link">
      <h1><span class="follower"><%= link_to "フォロワー",  followers_user_path(@user.id) %></span></h1>
    </div>
  </div>
  <% @followers.each do |user| %>
  <div class="user-list-box">
    <div class="user-list-info">
      <% if user.image? %>
        <img src ='<%= user.image %>' class="user-image">
      <% else %>
        <img src ="https://2.bp.blogspot.com/-3NTdiy0qbgY/VaMN5JhC4tI/AAAAAAAAvfs/njZ6gyBRmZM/s170/youngman_28.png"  class="user-image"> 
      <% end %>
      <%= link_to user.name, user_path(user.id) %>
      <div class="f-button">
        <div id="follow_buttons_<%= user.id%>">
          <%= render partial: 'relationships/follow', locals: { user: user} %>
        </div>
      </div>
    </div>
    <div class="user-self-introduction">
      <%= user.self_introduction %>
    </div>
  </div>
  <% end %>
</div>