<header>
	<div class="header-menu">
		<div class="app-name">
      <nav>
        <ul>
          <li><%= link_to "Share | fitness", root_path %></li>
        </ul>
      </nav>
		</div>
    <div class="header-link">
      <nav>
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li style="color:#006666;"><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li>AllRecord</li>
        <% end%>
        </ul>
      </nav>
    </div>
  </div>
  <!-- inputid と labelfor　で 同じ名前をつけることで、labelをクリックしてinputにチェックを入れたり外せる-->
　 <div id="nav-drawer">
    <input id="menu" type="checkbox">
    <label for="menu"  class="open"><i class="fas fa-bars fa-2x"></i></label>
    <label for="menu"  class="back"></label>
    <aside>
      <label for="menu"  class="close">×</label>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Mypage', user_path(current_user) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li style="color:#006666;"><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li>AllRecord</li>
          <% end%>
        </ul>
      </nav>
    </aside>
  </div>
</header>