<% @like_posts.each do |post| %>
  <div class="post-box">
    <div class="post-content-box">
      <div class="post-content">
        <div class="post-user-info">
          <img src ='<%= post.user.image %>' class="post-user-image">
          <div class="post-user-name"><%= link_to post.user.name, user_path(post.user_id) %>さん</div>
        </div>
        <div class="post-user-comment">
          <%= post.comment %>
        </div>
        <% post.training_menus.each do |training_menu| %>
        <div class="post-training-menu">
          部位:<%= training_menu.part %>/種目:<%= training_menu.event %><br>
          <%= training_menu.weight %>kg
          <%= training_menu.repetition %>rep
          <%= training_menu.set_count %>set
        </div>
        <% end %>
        <div>
          <img src ='<%= post.image %>' class="post-user-image">
        </div>
      </div>
    </div>
    <div class="post-reaction-box">
      <div class="post-reaction-content">
        <div class="post-like-button">
          <% if post.liked_by?(current_user)%>
            <%= link_to post_likes_path(post.id), method: :delete do %>
              <span class="fas fa-thumbs-up like-btn-unlike">:<%= post.likes.count %></span>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post.id), method: :post do %>
              <span class="fas fa-thumbs-up like-btn">:<%= post.likes.count %></span>
            <% end %>
          <% end %>
        </div>
        <div class="post-comment-button">
          <%=link_to post_path(post.id) do %>
            <span><i class="far fa-comment"></i>:<%= post.comments.count %></span>
          <% end %>
        </div>
        <div class="post-edit-delete-link">
          <% if post.user_id == current_user.id%>
            <%=link_to edit_post_path(post) do %>
              <span><i class="fas fa-edit"></i></span>
            <% end %>
            <%=link_to post_path(post),method: :delete , data: {confirm: "本当に削除しますか？"}  do %>
              <span><i class="fas fa-trash-alt"></i></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>