<div class="post-index-page">
  <div class="search-container">
    <div class="search-area">
      <div class="search-form">
        <%= search_form_for @q, url: posts_path do |f| %>
            
          <%= f.label :"検索" %>
          <%= f.search_field :training_parts_part_or_training_events_event_cont, 
          placeholder: "トレーニング部位や種目で検索, 例1:胸, 例2:ベンチプレス,",class: "input-search" %>

          <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
            <i class="fas fa-search"></i>
          <% end %>

        <% end %>
      </div>
    </div>  
  </div>
  <div class="post-box-container">
    <%= render 'shared/postbox' %>
  <div>
</div>