<div class="post-form-background">
  <div class="post-form-container">
    <h2>Record</h2>
    <%= render 'shared/error_messages'%>
      <%= form_with model: @post ,local: true do |f| %>

      <div class="comment-image-part-form-box">
        <div class="post-comment-wrap">
          <%= f.label :comment %> <i class="far fa-comment"></i><br />
          <%= f.text_area :comment, placeholder: "今日のトレーニングはどうだった？",class: "comment-field" %>
        </div>
        <div class="post-image-wrap">
          <%= f.label :image %> <i class="fas fa-images"></i>
          <%= f.file_field :image %>
        </div>
        <div class="training-part-field">
          <%= f.fields_for :training_parts do |f| %> 
            <%= render "training_part_fields", f: f %>
          <% end %>

          <div class="links nest-button-link">
            <%= link_to_add_association "＋", f, :training_parts %>
          </div>
        </div>  
      </div>

      <div class="training-menu-container">
        <%= f.fields_for :training_events do |f| %>
          <%= render "training_event_fields", f: f %>
        <% end %>

  
        <div class="nest-button-link">
          <%= link_to_add_association "種目の追加", f, :training_events %>
        </div>
    
      </div>

      
      <div class="submit-button">
        <%= f.submit "記録する",class: "submit" %>
      </div>
    <% end %>  
  </div>
</div>