<div class="postform-background">
  <div class="postform-box">
    <div class="postform">
      <%= form_with model: @post do |f| %>

        <h4>-Record-</h4>
        
        <div class="form">
          <%= f.label :comment %> <i class="far fa-comment"></i><br />
          <%= f.text_area :comment, placeholder: "今日のトレーニングはどうだった？",class: "comment-field" %>
        </div>

        <div class="form">
          <%= f.label :image %> <i class="fas fa-images"></i><br />
          <%= f.file_field :image,class: "input-field" %>
        </div>

        <div class="trainning-menu"> 
        
        　<h5>New Record !</h5>
          
          <%= f.fields_for :training_menus do |ff| %>
          
          <div class="part-discipline-form">
            <div class="form">
              <%= ff.select :part,  [["Chest", "Chest"],["Shoulder", "Shoulder"], ["Arm","Arm"],["Back","Back"],["Leg","Leg"],["Abs","Abs"],["Others","Others"] ] , include_blank: "トレーニング部位を選択して下さい" %>
            </div>

            <div class="form">
              <%= ff.text_field :event, placeholder: "種目名 例:ベンチプレス",class: "input-field" %>
            </div>
          </div>

          <div class="weight-and-number-form">
            <div class="form">
              <%= ff.number_field :weight, placeholder: "重さ・kg",class: "input-field"  %>
            </div>

            <div class="form">
              <%= ff.number_field :repetition,placeholder: "回数",class: "input-field" %>
            </div>

            <div class="form">
              <%= ff.number_field :set_count,placeholder: "セット数",class: "input-field" %>
            </div>

          </div>

          <div class="plus-minus-button">
            <i class="far fa-plus-square"></i>
            <i class="far fa-minus-square"></i>
          </div>

        </div>

        <%= f.submit "新規投稿",class: "input-field" %>

        <% end %>

      <% end %>
    </div>
  </div>
</div>